/*Cores
#39bcb6 Azul-verde*/
body {
	background-color: Gainsboro;
	overflow-x: hidden;
}

html, body {
	height: 100%;
}

.btn-lg {
	background-color: #4E598F;
	color: #fff;
}

#container-rodape {
	width: 100%;
	bottom: 0;
	left: 0;
}

