/*Cores
#39bcb6 Azul-verde*/
body{
    background-color: Gainsboro;
}
html, body {height:100%;}
/background color itens nav hover/
#navbarSite .nav-item:hover .nav-link{
    transition: background-color 0.3s;
    background-color:#39bcb6;
}
/cor letras itens nav hover/
#navbarSite .nav-item:hover .nav-link {
    transition: color 0.3s;
    color: white;
}
/background color dropdown menu/
#navbarSite .dropdown-menu{
    background-color: white;
}
/cor letra dropdown item/
#navbarSite .dropdown-item{
    color: white;
}
/cor letra/
#navbarSite .nav-item .nav-link{
    color:white;
}
table{
border-collapse: separate;
  border-spacing: 10px 10px;
  margin-top: -8px;



}
td, th {
  
  width: 10rem;
  height: 6rem;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 10px;
  border-color: rgb(244, 17, 235);


}
th {
  background: #87cefa;
  border-color: rgb(32, 74, 135);
  ;
}

