/*--------------------------------------------------------------
# Menu - PC
--------------------------------------------------------------*/
.nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #39BCB6;
}

.btn-info, .dropdown-menu {
	background: #39BCB6 !important;
}

.btn-group .dropdown-toggle {
	font-size: medium;
	border: none !important;
}

.nav-menu>ul {
	display: flex;
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
	padding: 10px 12px;
}

.nav-menu a {
	display: block;
	position: relative;
	color: #fff;
	transition: 0.3s;
	font-size: medium;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	font-size-adjust: auto;
	text-transform: uppercase;
	padding: 0 3px;
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
	color: #035E80;
	opacity: 1;
	font-weight: 300;
}

.nav-menu>ul>li>a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -6px;
	left: 0;
	color: #035E80;
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
}

.header .btn-lg {
	margin-left: 159px;
	top: 6px;
	color: #fff !important;
	background-color: #4E598F !important;
	color: #fff !important;
}

.nav-menu a:focus, .nav-menu .active>a, .nav-menu li:focus>a {
	font-weight: 700;
}

.botaoSair .btn-lg {
	margin-left: 173px;
	margin-top: 6px;
	background-color: #4E598F !important;
	color: #fff;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.nav-menu>ul {
		padding-left: 11vw;
	}
	.nav-menu a {
		font-size: 15px;
	}
	.nav-menu>ul>li {
		white-space: nowrap;
		padding: 1.6vw 1.1vw 1.1vw 0.2vw;
		line-height: 13px;
	}
}

/*--------------------------------------------------------------

 # Vídeo + questions

 --------------------------------------------------------------*/
.ytplayer {
	width: 30vw;
	align-items: left;
}

.card-help {
	margin-top: -237px;
	margin-bottom: -158px;
}

.video {
	padding-bottom: 68px;
	background: url("../images/vacineCut.png") top center no-repeat;
	background-size: cover;
	position: relative;
}

/*--------------------------------------------------------------

 # Menu - Mobile

 --------------------------------------------------------------*/

/*MENU BURGUER */
.mobile-nav-toggle {
	position: fixed;
	left: 2%;
	top: 4vw;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: left;
	text-align: center;
	align-items: center;
}

.mobile-nav-toggle i {
	color: #035E80;
}

.mobile-nav .linhaMenu {
	width: 100vw;
	position: relative;
	border: 1px solid rgba(117, 117, 117, 0.2);
}

/*MENU DE NAVEGACAO */
.mobile-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	overflow-y: auto;
	left: -260px;
	width: 260px;
	padding-top: 18px;
	background: #F8F7F7;
	transition: 0.4s;
}

button.mobile-nav-toggle.d-lg-none {
	padding-bottom: 5vw;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*MENU DE NAVEGACAO */
.mobile-nav a {
	display: block;
	position: relative;
	color: #025D79;
	padding: 10px 20px;
	font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
	color: #0C8BB0;
	text-decoration: none;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(40, 58, 90, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #0C8BB0;
}

.sus .container-fluid .susContainer .col-lg-6 {
	margin-top: 84%;
	margin-left: -95px;
}

.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

body {
	background-color: rgba(196, 196, 196, 0.63) !important;
	margin: 0px;
	padding: 0px;
}

.panel-heading {
	font-size: large;
	margin-left: 200px;
}

.nav-item {
	font-size: 14px;
	color: #fff;
}

.titulocard {
	font-weight: bolder;
	color: #fff !important;
}

.card-help {
	background: #4E598F;
	float: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 40vw;
	color: #ffff;
	font-size: large;
}

.video {
	margin-right: 10vw;
	margin-top: 5vw;
}

.contato {
	background: #4E598F;
	height: 20vw;
	color: #fff;
}

.info, .cadastramento, .covid, .sus {
	margin-top: 45px;
}

.card-text {
	font-size: medium;
}

.cardFooter {
	top: 68px;
}

.footer {
	text-align: center;
}

/*--------------------------------------------------------------

 #  noticias

 --------------------------------------------------------------*/
.noticias, .info {
	background-color: rgba(57, 188, 182, 0.54);
	height: 20vw;
}

/*--------------------------------------------------------------

 #  Informações

 --------------------------------------------------------------*/
.info .col-lg-4 {
	width: 23vw;
}

.info .col-lg-4, .noticias .col-lg-6 {
	top: 60px;
}

/*--------------------------------------------------------------

 #  SUS 

 --------------------------------------------------------------*/
.sus .col-lg-6 {
	top: 63px;
}

/*--------------------------------------------------------------

 #  Ze gotão

 --------------------------------------------------------------*/
.gotao {
	bottom: 41px;
}

/*--------------------------------------------------------------

 #  contato 

 --------------------------------------------------------------*/
.contato .telefone {
	margin-bottom: 10px
}

.contato .btn-lg {
	margin-left: 183px;
}

/*--------------------------------------------------------------

 #  FOOTER 

 --------------------------------------------------------------*/
.cardDuvidas {
	color: #000;
}

.titulocardFooter, .cardDuvidas {
	color: #000;
}