<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="teste.css">
    <link rel="stylesheet" href="font-awesome/css/fontawesome.min.css">

    <title>Boas Vindas Brasilprev</title>
  </head>

 
  <body>


    <!--nav inferior-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #39bcb6; ">

      <!--Botão collapse navbar-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" style="background-color: black; ">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite" >
        
        <ul class="navbar-nav mr-auto">
            <!--Dropdown Item Navbar -->


          <!--1 início-->
          <br>
            <li class="nav-item">
              <a href="home.html" style="color:#ffff; font-family: arial;font-size: 1.25em;">&nbsp Home &nbsp</a>
            </li>

          <!--2 agendamento-->
            <li class="nav-item">
              <a href="home.html" style="color:#ffff; font-family: arial;font-size: 1.25em;">&nbsp Agendamento &nbsp</a>
            </li>

          <!--3 Altere seus Dados-->
            <li class="nav-item">
              <a href="home.html" style="color:#ffff; font-size: 1.25em; font-family: arial;">&nbsp Altere seus dados &nbsp</a>
            </li>

          <!--4 Carteira de Vacinação-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownSite" data-toggle="dropdown" style="font-size: 1.25em; padding-top: 0px;;color:#ffff;font-family: arial;">&nbsp Carteira de vacinação &nbsp</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="carteiradevacina.html" >Carteira de Vacinação</a>
              <a class="dropdown-item" href="carteirainfantil.html">Carteira de Vacinação Infantil</a>
            </div>
          </li>

        </ul>
	

        <ul class="navbar-nav ml-auto">        
          
          <!--Sobre-->
            <li class="nav-item">
              <button class="btn fa fa-question-circle" style="background-color: #39bcb6; color:black;font-size: 1.25em; padding: 10px;"><a  href="sobre.html" style="color:#ffff; font-family: arial;"> Sobre</a></button>
            </li>

          <!--Contate-nos-->
            <li class="nav-item">
              <button class="btn fa fa-phone-square" style="background-color: #39bcb6; color:black;font-size: 1.25em; padding: 10px;"><a  href="faleconosco.html" style="color:#ffff; font-family: arial;"> Contate-nos</a></button>
            </li>
        </ul>

   </div>

 </nav>









    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
